@keyframes ldio-8vyp36ob0d {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ldio-8vyp36ob0d > div > div {
  transform-origin: 100px 100px;
  animation: ldio-8vyp36ob0d 3.0303030303030303s linear infinite;
  opacity: 0.8;
}

.ldio-8vyp36ob0d > div > div > div {
  position: absolute;
  left: 60px;
  top: 60px;
  width: 40px;
  height: 40px;
  border-radius: 40px 0 0 0;
  transform-origin: 100px 100px;
}

.ldio-8vyp36ob0d > div div:nth-child(1) {
  animation-duration: 1s;
}

.ldio-8vyp36ob0d > div div:nth-child(1) > div {
  background: #e15b64;
  transform: rotate(0deg);
}

.ldio-8vyp36ob0d > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s;
}

.ldio-8vyp36ob0d > div div:nth-child(2) > div {
  background: #f47e60;
  transform: rotate(0deg);
}

.ldio-8vyp36ob0d > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s;
}

.ldio-8vyp36ob0d > div div:nth-child(3) > div {
  background: #f8b26a;
  transform: rotate(0deg);
}

.ldio-8vyp36ob0d > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s;
}

.ldio-8vyp36ob0d > div div:nth-child(4) > div {
  background: #abbd81;
  transform: rotate(0deg);
}

.loadingio-spinner-wedges-iaewujzgteg {
  width: 200px;
  height: 200px;

  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-8vyp36ob0d {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-8vyp36ob0d div {
  box-sizing: content-box;
}
.loadingio-spinner {
  display: grid;
  justify-content: center;
  margin-top: 10%;
}
