
*
{
    font-family: sans-serif;
    font-weight: 520;
}

.create
{
    color: rgb(70, 70, 70);
}


.logo
{
    margin-top: 20px;
    margin-right: 10px;
}


.left
{
    border: rgb(220, 220, 220) 1px solid;
    box-shadow: 0px 0px 10px 2px rgb(203, 203, 203);
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 0;
    justify-content: center;
    text-align: center;
}

.inp
{
   margin: auto;
   margin-bottom: 30px;
   border: black 0px solid;
   border-radius: 5px;
   width: 65%;
   padding-top: 20px;
   min-height: 120px;
   box-shadow: 0px 0px 5px 2px rgb(233, 232, 232);  
}

.wrongpass
{
    color: red;
    font-size: 15px;
    padding: 0;
    margin-top: -15px;
    margin-bottom: 5px;
}

.btn
{
    width: 70%;
    font-weight: 800;
}

.line
{
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border: black 0px solid;
    height: 50px;
    width: 330px;
}

.line1
{
    border: rgb(175, 175, 175) 1px solid;
    border-bottom: 0px;
    width: 45%;
    height: 0px;
    margin-top: 12px;
}

.box
{
    border: rgb(163, 163, 163) 1px solid;
    border-radius: 12px;
    font-size: 10px;
    margin-top: 5px;
    height: 15px;
    width: 150px;
}

.social
{
    border: black 0px solid;
    width: 78%;
    min-height: 50px;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
}

.social_cont
{ 
    box-shadow: 0px 0px 10px 5px rgb(233, 232, 232);
    cursor: pointer;
    margin: auto;
    margin-top: 0px;
    height: 40px;
    width: 40%;
}


.fb
{
    background-image: url(../../database/image.webp);
    background-position-x: -101px;
    background-position-y: -1400px;
    margin: auto;
    height: 40px;
    width: 20%;
}

.google
{
    background-image: url(../../database/image.webp);
    background-position-x: -133px;
    background-position-y: -1398px;
    margin: auto;
    height: 40px;
    width: 30%;
}

.havean1
{
    font-size: 15px;
}
.havean2
{
  color: #ff5d3b;
  font-weight: 700;
  cursor: pointer;
}

.forgot
{
    color: red;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

.offer
{
   border: 1px solid rgb(194, 194, 194);
   border-radius: 5px;
   margin: auto;
   margin-bottom: 50px;
   font-family: 'Pacifico', cursive;
   height: 30px;
   width: 70%;
   padding-top: 5px;
   padding-bottom: 5px;
   cursor: pointer;
}