.top {
  display: flex;
  position: fixed;
  justify-content: left;
  height: 74px;
  background-color: white;
}

.store {
  margin-left: 1%;
  display: flex;
  font-weight: 300;

  width: 23%;
  font-size: 20px;
  justify-content: space-between;
}
.logo {
  margin-left: 27%;
  margin-top: 10px;
}
.textfield {
  margin-top: 20px;
  margin-left: 2%;
}

.nav {
  visibility: hidden;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  visibility: visible;
}
.temp {
  position: relative;
  visibility: hidden;
  height: 70px;
  box-shadow: 0 2px 5px 0 rgba(170, 162, 162, 0.2),
    0 2px 5px 0 rgba(204, 199, 199, 0.19);
}
.temp1 {
  height: 5px;
  box-shadow: 0 2px 5px 0 rgba(170, 162, 162, 0.2),
    0 2px 5px 0 rgba(204, 199, 199, 0.19);
}
.navbar {
  background-color: white;
}
