.list {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  cursor: pointer;
}
.barg {
}
.barg:hover + .barg2 {
  /* visibility: visible; */
  /* display: block;
  background-color: aqua; */
}
.barg1 {
}
.barg2 {
  /* visibility: hidden; */
  /* display: none; */
  /* display: flex; */
  /* flex-direction: column; */
}
.drop_one {
  margin-top: 20px;
}

.menu_one,
.menu_two,
.menu_three,
.menu_four,
.menu_five,
.menu_six,
.menu_seven {
  position: absolute;
  width: max-content;
  background: rgb(255, 255, 255, 1);
  display: flex;
  box-shadow: 0 0 3px rgb(216, 213, 213);
  padding-top: 10px;
  transition: 0.5s;
}
.menu_experiment {
  display: none;
}
.drop_one:hover > .menu_experiment,
.drop_two:hover > .menu_experiment,
.drop_three:hover > .menu_experiment,
.drop_four:hover > .menu_experiment,
.drop_five:hover > .menu_experiment,
.drop_six:hover > .menu_experiment,
.drop_seven:hover > .menu_experiment {
  display: block;
  z-index: 7;
  margin-top: 15px;
}
.menu_one > ul li:hover,
.menu_two > ul li:hover,
.menu_three > ul li:hover,
.menu_four > ul li:hover,
.menu_five > ul li:hover,
.menu_six > ul li:hover,
.menu_seven > ul li:hover {
  border-bottom: 3px solid #2f82ab;
  transition: 0.5s;
  cursor: pointer;
}
.menu_one ul,
.menu_two ul,
.menu_three ul,
.menu_four ul,
.menu_five ul,
.menu_six ul,
.menu_seven ul {
  list-style: none;
  padding: 10px;
  color: #1d1d1d;
}
