.top {
  display: flex;
  position: fixed;
  justify-content: left;
  height: 74px;
  background-color: white;
}

.store {
  margin-left: 1%;
  display: flex;
  font-weight: 300;
  width: 27%;
  font-size: 20px;
  justify-content: space-between;
}
.logo {
  margin-left: 20%;
  margin-top: 10px;
}
.textfield {
  margin-top: 20px;
  margin-left: 2%;
}

.nav {
  visibility: hidden;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  visibility: visible;
}
.temp {
  position: relative;
  visibility: hidden;
  height: 70px;
  box-shadow: 0 2px 5px 0 rgba(170, 162, 162, 0.2),
    0 2px 5px 0 rgba(204, 199, 199, 0.19);
}
.temp1 {
  height: 5px;
  box-shadow: 0 2px 5px 0 rgba(170, 162, 162, 0.2),
    0 2px 5px 0 rgba(204, 199, 199, 0.19);
}
.navbar {
  background-color: white;
}
.signHover {
  width: 100px;
  background: white;
  visibility: hidden;
  margin-top: 20px;
  /* margin-left: 100px; */
}
.signHover > li {
  list-style: none;
  /* line-height: 1cm; */
  color: rgb(92, 94, 95);
  background: white;
  width: 150px;
  text-decoration: none;
  height: 35px;
  padding-left: 20px;
  cursor: pointer;
  margin-left: -100px;
}

.signHover > li > Link  
{
  text-decoration: none;
}

.signIn:hover > div {
  /* display: block; */
  visibility: visible;
}
