.list {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 10px;
  height: 40px;
}

.drop_one {
  margin-top: 0px;
  list-style: none;
}

.menu_one {
  position: absolute;
  width: 95%;
  background: rgb(250, 250, 250);
  display: flex;
  z-index: 4;
  padding-top: 20px;
  transition: 0.5s;
  box-shadow: 2px 0px 40px rgb(223, 217, 217) inset,
    2px 0px 40px rgb(224, 218, 218) inset;
}
.menu_experiment {
  display: none;
}
.drop_one:hover > .menu_experiment {
  display: block;
  /* z-index: 4; */
  margin-top: 15px;
  background: white;
}
.drop_one:visited > .menu_experiment {
  display: none;
}
.menu_one > ul li:hover {
  border-bottom: 3px solid #2f82ab;
  transition: 0.5s;
  cursor: pointer;
}
.menu_one > ul > li {
  list-style: none;
  margin-top: 20px;
  color: #615e5e;
}
.spanHover {
  color: rgb(85, 81, 81);
}
.spanHover:hover {
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
}
.bargain {
  margin-left: -2.5%;
}
.women {
  margin-left: -13%;
}
.kids {
  margin-left: -23%;
}
.beauty {
  margin-left: -30%;
}
.men {
  margin-left: -39.5%;
}
.home {
  margin-left: -47%;
}
.cross {
  margin-left: -58%;
}
.brand {
  margin-left: -70%;
}
.gift {
  margin-left: -79.5%;
}
.discover {
  margin-left: -87%;
}
