a {
  text-decoration: none;
  color: #bdbaba;
}

.footer {
  background-color: #000000;
  color: rgb(194, 194, 194);
  /* line-height: 14px; */
  font-size: 10px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}
.main_row div {
  padding: 2% 2%;
}
.fotr_col_2 {
  /* flex-basis: 25%; */
  /* width: 40rem; */
  margin: 0px;
  margin-left: 1%;
}
.fotr_col_3 {
  /* flex-basis: 25%; */
  margin: 0px;
  width: 40rem;
}
.fotr_col_4 {
  /* flex-basis: 25%; */
  margin: 0px;
  width: 40rem;
}
.fotr_col_5 {
  /* flex-basis: 25%; */
  margin: 0px;
  /* width: 20rem; */
  margin-right: 15%;
}
.main_row div td {
  list-style: none;

  padding: 8px 0px;
  color: #bdbaba;
  font-size: 12px;
}

.main_row h3 {
  padding: 10px 0px;
  color: white;
  font-size: 13px;
}

.footer td:hover {
  color: #fff;
}
.appImg {
  width: 300px;
  margin-right: 200px;
}
.appStore {
  margin-left: 10%;
}
.productImg {
  width: 70px;
}
.deliveryIcon {
  margin-left: 70px;
}
.appLogos {
  display: flex;
  color: rgb(151, 156, 154);
}
