.top1 {
  display: flex;
  position: fixed;
  justify-content: left;
  height: 74px;
  z-index: 5;
  background-color: white;
}

.store {
  margin-left: 1%;
  display: flex;
  font-weight: 300;
  width: 27%;
  font-size: 17px;
  justify-content: space-between;
}
.logo {
  margin-left: 20%;
  margin-top: 10px;
}
.textfield {
  margin-top: 20px;
  margin-left: 1%;
}

.nav {
  visibility: hidden;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  visibility: visible;
}
.temp {
  position: relative;
  visibility: hidden;
  height: 70px;
  box-shadow: 0 2px 5px 0 rgba(170, 162, 162, 0.2),
    0 2px 5px 0 rgba(204, 199, 199, 0.19);
}
.temp1 {
  height: 5px;
  box-shadow: 0 2px 5px 0 rgba(170, 162, 162, 0.2),
    0 2px 5px 0 rgba(204, 199, 199, 0.19);
}
.navbar {
  background-color: white;
}
.signHover {
  display: flex;
  flex-direction:column;
  background: rgb(255, 255, 255);
  visibility: hidden;
  position: relative;
  right:60%;
  top:10px;
  width:170px;
  border-radius:3px;
  padding:14px 0px;
  border-left: 1px solid rgb(209, 208, 208);
  border-bottom: 1px solid rgb(209, 208, 208);
  box-shadow: -12px 13px 13px -5px rgba(0,0,0,0.75);
-webkit-box-shadow: -12px 13px 13px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -12px 13px 13px -5px rgba(0,0,0,0.75);

}

.signin {
  width: 100px;
  box-shadow: -120px 13px 5px -5px rgba(202, 188, 188, 0.73);
}

.signIn:hover > div {
  visibility: visible;
}
.cardLength {
  position: absolute;
  margin-top: -1rem;
  background: orangered;
  height: 12px;
  width: 10px;
  padding: 4px;
  padding-left: 6px;
  border-radius: 16px;
  margin-left: 2rem;
  /* padding-bottom: 5px; */
  color: white;
  font-size: 12px;
}
@media only screen and (max-width: 1380px) {
  .logo {
    margin-left: 17%;
  }
  .store {
    width: 25%;
  }
}
